{% extends 'base.html' %}
{% block content %}
    
    <form method="POST">
        <div class="form-group floating-label-form-group controls">
            <label for="chatname">Username:</label>
            <input type="text" class="form-control" placeholder="Username" id="chatname" name="chatname" required data-validation-required-message="Please enter your username.">
        </div>
        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" id="chatMessageButton">Chat to us</button>
        </div>
    </form>
    <br>
    <h2> Welcome, {{ username }}</h2>
    
    <form method = "POST">
        <div class="form-group floating-label-form-group controls">
            <textarea cols = "50" rows = "2" name = "chatmessage" id = "chatmessage"></textarea>
        </div>
        <br>
        <div class="form-group">
            <button class="btn btn-primary" id="chatMessageButton">SEND</button>
        </div>
    </form>
    
    {% for message in chat_messages %}
        <p> ({{ message.timestamp }}) {{ message.from }}: {{ message.message }}</p>
    {% endfor %}


    <script>
        let textbox = document.getElementById("chatmessage")
        
        let timer = setTimeout(function(){
            location.reload();
        }, 40000);
        
        textbox.onkeydown = function(e) {
            
            clearTimeout(timer)
            
            timer = setTimeout(function(){
                location.reload();
            }, 40000);
        };
    </script>
{% endblock %}