{% extends 'base.html' %}
{% block content %}
    <span id ="top-page" class="dashhead"> Recipe(s) available in every Catagory</span><br>
    
    <div class="row">
        
        <!--Amount of recipes available for CHICKEN-->
        <div class="col-md-6 col-sm-12">
            <a href = "{{ url_for('chicken')}}">
            <div class="row card-chick collapsible collapsible-dash">
                <h2 class="col-9 cat_head">
                    Chicken
                </h2>
                <h2 class="col-3 cat-value">
                    {{ recipe_chicken|selectattr('recipe_type', 'equalto', 'Chicken')|list|length }}
                </h2>
            </div>
            </a>
        </div>
        
        <!--Amount of recipes available for LAMB-->
        <div class="col-md-6 col-sm-12">
            <a href = "{{ url_for('lamb')}}">
            <div class="row card-lamb collapsible collapsible-dash">
                <h2 class="col-9 cat_head">
                    Lamb
                </h2>
                <h2 class="col-3 cat-value">
                    {{ recipe_lamb|selectattr('recipe_type', 'equalto', 'Lamb')|list|length }}
                </h2>
            </div>
            </a>
        </div>
    </div>
    
    <div class="row">
        
        <!--Amount of recipes available for SEA FOOD-->
        <div class="col-md-6 col-sm-12">
            <a href = "{{ url_for('seafood')}}">
            <div class="row card-seafood collapsible collapsible-dash">
                <h2 class="col-9 cat_head">
                    Sea Food
                </h2>
                <h2 class="col-3 cat-value">
                    {{ recipe_seafood|selectattr('recipe_type', 'equalto', 'Sea Food')|list|length }}
                </h2>
            </div>
            </a>
        </div>
        
        <!--Amount of recipes available for VEGETABLE-->
        <div class="col-md-6 col-sm-12">
            <a href = "{{ url_for('veg')}}">
            <div class="row card-veg collapsible collapsible-dash">
                <h2 class="col-9 cat_head">
                    Vegetable
                </h2>
                <h2 class="col-3 cat-value">
                    {{ recipe_veg|selectattr('recipe_type', 'equalto', 'Vegetable')|list|length }}
                </h2>
            </div>
        </div>
    </div>
    
    <div class="row">
        
        <!--Amount of recipes available for BEEF-->
        <div class="col-md-6 col-sm-12">
            <a href = "{{ url_for('beef')}}">
            <div class="row card-beef collapsible collapsible-dash">
                <h2 class="col-9 cat_head">
                    Beef
                </h2>
                <h2 class="col-3 cat-value">
                    {{ recipe_beef|selectattr('recipe_type', 'equalto', 'Beef')|list|length }}
                </h2>
            </div>
            </a>
        </div>
        
        <!--Amount of recipes available for HEALTHY-->
        <div class="col-md-6 col-sm-12">
            <a href = "{{ url_for('healthy')}}">
            <div class="row card-healthy collapsible collapsible-dash">
                <h2 class="col-9 cat_head">
                    Healthy
                </h2>
                <h2 class="col-3 cat-value">
                    {{ recipe_healthy|selectattr('recipe_type', 'equalto', 'Healthy')|list|length }}
                </h2>
            </div>
            </a>
        </div>
    </div>
    
    <div class="row">
        
        <!--Amount of recipes available for VEGAN-->
        <div class="col-md-6 col-sm-12">
            <a href = "{{ url_for('vegan')}}">
            <div class="row card-vegan collapsible collapsible-dash">
                <h2 class="col-9 cat_head">
                    Vegan
                </h2>
                <h2 class="col-3 cat-value">
                    {{ recipe_vegan|selectattr('recipe_type', 'equalto', 'Vegan')|list|length }}
                </h2>
            </div>
            </a>
        </div>
        
        <!--Amount of recipes available for PORK-->
        <div class="col-md-6 col-sm-12">
            <a href = "{{ url_for('pork')}}">
            <div class="row card-pork collapsible collapsible-dash">
                <h2 class="col-9 cat_head">
                    Pork
                </h2>
                <h2 class="col-3 cat-value">
                    {{ recipe_pork|selectattr('recipe_type', 'equalto', 'Pork')|list|length }}
                </h2>
            </div>
            </a>
        </div>
    </div>
    <br>
    
    <span class="dashhead"> Recipe(s) can be ready in minutes</span><br>
    
    <div class="row">
        
        <!--Amount of recipes available which can be ready under 30 mins-->
        <div class="col-md-6 col-sm-12">
            <a href = "{{ url_for('u30')}}">
            <div class="row card-u30 collapsible collapsible-dash">
                <h2 class="col-9 cat_head">
                    < 30 mins
                </h2>
                <h2 class="col-3 cat-value">
                    {{ recipe_25|selectattr('cook_time', 'lessthan', 31)|list|length }}
                </h2>
            </div>
            </a>
        </div>
        
        <!--Amount of recipes available which can be take over 30 mins to be ready-->
        <div class="col-md-6 col-sm-12">
            <a href = "{{ url_for('o30')}}">
            <div class="row card-o30 collapsible collapsible-dash">
                <h2 class="col-9 cat_head">
                    > 30 mins
                </h2>
                <h2 class="col-3 cat-value">
                    {{ recipe_35|selectattr('cook_time', 'greaterthan', 31)|list|length }}
                </h2>
            </div>
            </a>
        </div>
    </div>
    
    <br>
    
    <span class="dashhead"> Recipe(s) in every Cuisine</span><br>
    
    <div class="row">
        
        <!--Amount of recipes available for AMERICAN CUISINE-->
        <div class="col-md-6 col-sm-12">
            <a href="{{ url_for('american') }}">
            <div class="row card-cuisine-red collapsible collapsible-dash">
                <h2 class="col-9 cat_head">
                    American
                </h2>
                <h2 class="col-3 cat-value">
                    {{ recipe_amc|selectattr('recipe_cuisine', 'equalto', 'American Cuisine')|list|length }}
                </h2>
            </div>
            </a>
        </div>
        
        <!--Amount of recipes available for AUSTRALIAN CUISINE-->
        <div class="col-md-6 col-sm-12">
            <a href = "{{ url_for('australian')}}">
            <div class="row card-cuisine-purple collapsible collapsible-dash">
                <h2 class="col-9 cat_head">
                    Australian
                </h2>
                <h2 class="col-3 cat-value">
                    {{ recipe_auc|selectattr('recipe_cuisine', 'equalto', 'Australian Cuisine')|list|length }}
                </h2>
            </div>
            </a>
        </div>
    </div>
    
    <div class="row">
        
        <!--Amount of recipes available for CANADIAN CUISINE-->
        <div class="col-md-6 col-sm-12">
            <a href="{{ url_for('canadian') }}">
            <div class="row card-cuisine-blue collapsible collapsible-dash">
                <h2 class="col-9 cat_head">
                    Canadian
                </h2>
                <h2 class="col-3 cat-value">
                    {{ recipe_cdc|selectattr('recipe_cuisine', 'equalto', 'Canadian Cuisine')|list|length }}
                </h2>
            </div>
            </a>
        </div>
        
        <!--Amount of recipes available for CHINESE CUISINE-->
        <div class="col-md-6 col-sm-12">
            <a href="{{ url_for('chinese') }}">
            <div class="row card-cuisine-green collapsible collapsible-dash">
                <h2 class="col-9 cat_head">
                    Chinese
                </h2>
                <h2 class="col-3 cat-value">
                    {{ recipe_cnc|selectattr('recipe_cuisine', 'equalto', 'Chinese Cuisine')|list|length }}
                </h2>
            </div>
            </a>
        </div>
    </div>
    
    <div class="row">
        
        <!--Amount of recipes available for EUROPIAN CUISINE-->
        <div class="col-md-6 col-sm-12">
            <a href="{{ url_for('european') }}">
            <div class="row card-cuisine-red collapsible collapsible-dash">
                <h2 class="col-9 cat_head">
                    European
                </h2>
                <h2 class="col-3 cat-value">
                    {{ recipe_euc|selectattr('recipe_cuisine', 'equalto', 'European Cuisine')|list|length }}
                </h2>
            </div>
            </a>
        </div>
        
        <!--Amount of recipes available for FAR EASTERN CUISINE-->
        <div class="col-md-6 col-sm-12">
            <a href="{{ url_for('fareastern') }}">
            <div class="row card-cuisine-purple collapsible collapsible-dash">
                <h2 class="col-9 cat_head">
                    Far Eastern
                </h2>
                <h2 class="col-3 cat-value">
                    {{ recipe_fec|selectattr('recipe_cuisine', 'equalto', 'Far Eastern Cuisine')|list|length }}
                </h2>
            </div>
            </a>
        </div>
    </div>
    
    <div class="row">
        
        <!--Amount of recipes available for MEDITERRANEAN CUISINE-->
        <div class="col-md-6 col-sm-12">
            <a href="{{ url_for('mediterranean') }}">
            <div class="row card-cuisine-blue collapsible collapsible-dash">
                <h2 class="col-9 cat_head">
                    Mediterranean
                </h2>
                <h2 class="col-3 cat-value">
                    {{ recipe_mdc|selectattr('recipe_cuisine', 'equalto', 'Mediterranean Cuisine')|list|length }}
                </h2>
            </div>
            </a>
        </div>
        
        <!--Amount of recipes available for MIDDLE EASTERN CUISINE-->
        <div class="col-md-6 col-sm-12">
            <a href="{{ url_for('middleeastern') }}">
            <div class="row card-cuisine-green collapsible collapsible-dash">
                <h2 class="col-9 cat_head">
                    Mdl Eastern
                </h2>
                <h2 class="col-3 cat-value">
                    {{ recipe_mec|selectattr('recipe_cuisine', 'equalto', 'Middle Eastern Cuisine')|list|length }}
                </h2>
            </div>
            </a>
        </div>
    </div>
    
    <div class="row">
        
        <!--Amount of recipes available for NORTH AFRICAN CUISINE-->
        <div class="col-md-6 col-sm-12">
            <a href="{{ url_for('northafrican') }}">
            <div class="row card-cuisine-red collapsible collapsible-dash">
                <h2 class="col-9 cat_head">
                    N. African
                </h2>
                <h2 class="col-3 cat-value">
                    {{ recipe_nac|selectattr('recipe_cuisine', 'equalto', 'North African Cuisine')|list|length }}
                </h2>
            </div>
            </a>
        </div>
        
        <!--Amount of recipes available for SOUTH AFRICAN CUISINE-->
        <div class="col-md-6 col-sm-12">
            <a href="{{ url_for('southafrican') }}">
            <div class="row card-cuisine-purple collapsible collapsible-dash">
                <h2 class="col-9 cat_head">
                    S. African
                </h2>
                <h2 class="col-3 cat-value">
                    {{ recipe_safc|selectattr('recipe_cuisine', 'equalto', 'South African Cuisine')|list|length }}
                </h2>
            </div>
            </a>
        </div>
    </div>
    
    <div class="row">
        
        <!--Amount of recipes available for SOUTH AMERICAN CUISINE-->
        <div class="col-md-6 col-sm-12">
            <a href="{{ url_for('southamerican') }}">
            <div class="row card-cuisine-blue collapsible collapsible-dash">
                <h2 class="col-9 cat_head">
                    S. American
                </h2>
                <h2 class="col-3 cat-value">
                    {{ recipe_samc|selectattr('recipe_cuisine', 'equalto', 'South American Cuisine')|list|length }}
                </h2>
            </div>
            </a>
        </div>
        
        <!--Amount of recipes available for SOUTH ASIAN CUISINE-->
        <div class="col-md-6 col-sm-12">
            <a href="{{ url_for('southasian') }}">
            <div class="row card-cuisine-green collapsible collapsible-dash">
                <h2 class="col-9 cat_head">
                    S. Asian
                </h2>
                <h2 class="col-3 cat-value">
                    {{ recipe_sasc|selectattr('recipe_cuisine', 'equalto', 'South Asian Cuisine')|list|length }}
                </h2>
            </div>
            </a>
        </div>
    </div>
    
    <h2>About us</h2>
    
    <p>
        As well as helping you decide what to cook we can also help you to cook it. From tips on cookery techniques to facts and information about health and nutrition, we’ve a wealth of foodie know how for you to explore.
    </p>
    <br>
    <p>
        We are the UK’s number one food brand. Whether you’re looking for healthy recipes and guides, family projects and meal plans, the latest gadget reviews, foodie travel inspiration or just the perfect recipe for dinner tonight, we’re here to help.
    </p>
    <br>
    <p>
        All our recipes are tested thoroughly by us to make sure they’re suitable for your kitchen at home. We know many of you are concerned about healthy eating, so we send them to a qualified nutritionist for thorough analysis too.
    </p>

    <!--For floating TOP button on right hand bottom corner-->
    <div class="fixed-action-btn">
        <a href="#top-page" class="btn-floating red card-top">
            Top
        </a>
    </div>

{% endblock %}