{% extends 'base.html' %}
{% block content %}
    <span class="dashhead"> Recipe(s) available in every Catagory</span><br>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="row card-chick collapsible collapsible-dash">
                <h2 class="col-9 cat_head">
                    Chicken
                </h2>
                <h2 class="col-3 cat-value">
                    {{ recipe_chicken|selectattr('recipe_type', 'equalto', 'Chicken')|list|length }}
                </h2>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="row card-lamb collapsible collapsible-dash">
                <h2 class="col-9 cat_head">
                    Lamb
                </h2>
                <h2 class="col-3 cat-value">
                    {{ recipe_lamb|selectattr('recipe_type', 'equalto', 'Lamb')|list|length }}
                </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="row card-seafood collapsible collapsible-dash">
                <h2 class="col-9 cat_head">
                    Sea Food
                </h2>
                <h2 class="col-3 cat-value">
                    {{ recipe_seafood|selectattr('recipe_type', 'equalto', 'Sea Food')|list|length }}
                </h2>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="row card-veg collapsible collapsible-dash">
                <h2 class="col-9 cat_head">
                    Vegetable
                </h2>
                <h2 class="col-3 cat-value">
                    {{ recipe_veg|selectattr('recipe_type', 'equalto', 'Vegetable')|list|length }}
                </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="row card-beef collapsible collapsible-dash">
                <h2 class="col-9 cat_head">
                    Beef
                </h2>
                <h2 class="col-3 cat-value">
                    {{ recipe_beef|selectattr('recipe_type', 'equalto', 'Beef')|list|length }}
                </h2>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="row card-healthy collapsible collapsible-dash">
                <h2 class="col-9 cat_head">
                    Healthy
                </h2>
                <h2 class="col-3 cat-value">
                    {{ recipe_healthy|selectattr('recipe_type', 'equalto', 'Healthy')|list|length }}
                </h2>
            </div>
        </div>
    </div>
    
    <br><span class="dashhead"> Recipe(s) can be ready in minutes</span><br>
    
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="row card-u30 collapsible collapsible-dash">
                <h2 class="col-9 cat_head">
                    < 30 mins
                </h2>
                <h2 class="col-3 cat-value">
                    {{ recipe_25|selectattr('cook_time', 'lessthan', '31')|list|length }}
                </h2>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="row card-o30 collapsible collapsible-dash">
                <h2 class="col-9 cat_head">
                    > 30 mins
                </h2>
                <h2 class="col-3 cat-value">
                    {{ recipe_35|selectattr('cook_time', 'greaterthan', '31')|list|length }}
                </h2>
            </div>
        </div>
    </div>
    <h2>About us</h2>
    
    <p>
        As well as helping you decide what to cook we can also help you to cook it. From tips on cookery techniques to facts and information about health and nutrition, we’ve a wealth of foodie know how for you to explore.
    </p>
    <br>
    <p>
        We are the UK’s number one food brand. Whether you’re looking for healthy recipes and guides, family projects and meal plans, the latest gadget reviews, foodie travel inspiration or just the perfect recipe for dinner tonight, we’re here to help.
    </p>
    <br>
    <p>
        All our recipes are tested thoroughly by us to make sure they’re suitable for your kitchen at home. We know many of you are concerned about healthy eating, so we send them to a qualified nutritionist for thorough analysis too.
    </p>
    
{% endblock %}
