{% extends 'base.html' %}
{% block content %}

    <h2 class="recipe-thumb">{{ page_title }}</h2><br>
    <div class="row">
        <div class="col-6 col-md-4 col-xl-2 collapsible">
            <h6>Chicken</h6>
        </div>
        <div class="col-6 col-md-4 col-xl-2 collapsible">
            <h6>Vegetable</h6>
        </div>
        <div class="col-6 col-md-4 col-xl-2 collapsible">
            <h6>Lamb</h6>
        </div>
        <div class="col-6 col-md-4 col-xl-2 collapsible">
            <h6>Beef</h6>
        </div>
        <div class="col-6 col-md-4 col-xl-2 collapsible">
            <h6>Sea Food</h6>
        </div>
        <div class="col-6 col-md-4 col-xl-2 collapsible">
            <h6>Healthy</h6>
        </div>
    </div>

    {% for recipe in recipes %}

        <ul class="collapsible">
            <li>
                <div class="collapsible-header">
                    <i class="material-icons recipe-thumb">outdoor_grill</i> {{recipe.recipe_name}}
                    
                </div>
                
                <div class="collapsible-body recipe-body">
                    <span>
                        <div class="row featurette">
                            {% if loop.index % 2 != 0 %}
                            <div class="col-md-7">
                                <h5>Ingredient:</h5>
                                <p>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_1}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_2}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_3}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_4}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_5}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_6}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_7}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_8}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_9}}<br>
                                </p><br>
                                <h5>Method:</h5>
                                <p>
                                    <i class="fas fa-check"></i> {{recipe.method_1}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_2}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_3}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_4}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_5}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_6}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_7}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_8}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_9}}<br>
                                </p><br>
                                <p>
                                    <h5>Date of Creation:</h5> {{ recipe.create_on }}</p><br>
                                <p>
                                    <h5>Preparation Time (in Minutes):</h5> {{ recipe.prep_time }}</p><br>
                                <p>
                                    <h5>Cooking Time (in Minutes):</h5> {{ recipe.cook_time }}</p><br>
                            </div>
                            <div class="col-md-5">
                                <img class="featurette-image img-fluid" src="{{ recipe.recipe_image }}">
                            </div><br> {% else %}
                            <div class="col-md-5">
                                <img class="featurette-image img-fluid" src="{{ recipe.recipe_image }}">
                            </div><br>
                            <div class="col-md-7">
                                <h5>Ingredient:</h5>
                                <p>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_1}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_2}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_3}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_4}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_5}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_6}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_7}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_8}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_9}}<br>
                                </p><br>
                                <h5>Method:</h5>
                                <p>
                                    <i class="fas fa-check"></i> {{recipe.method_1}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_2}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_3}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_4}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_5}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_6}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_7}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_8}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_9}}<br>
                                </p><br>
                                <p>
                                    <h5>Date of Creation:</h5> {{ recipe.create_on }}</p><br>
                                <p>
                                    <h5>Preparation Time (in Minutes):</h5> {{ recipe.prep_time }}</p><br>
                                <p>
                                    <h5>Cooking Time (in Minutes):</h5> {{ recipe.cook_time }}</p><br>
                            </div>
                            
                            {% endif %}
                        </div>
                    </span>
                </div>
            </li>
        </ul>
        
    {% endfor %}
    
{% endblock %}
