{% extends 'base.html' %}
{% block content %}

    <h2>{{ page_title }}</h2><br>
    
    <ul class="collapsible">
        <li>
            <span>
                <div class="row">
                    <form action="find_recipe" method="GET" class="col-12">
                        <h5>What Recipe are you looking for?</h5>
                        <div class="input-field col-12">
                            <i class="material-icons prefix">outdoor_grill</i>
                            <input id="category_name" name="category_name" type="text" class="validate">
                            <label for="icon_prefix">Search</label>
                        </div>
                        <div class="input-field col s12">
                            <button class="btn waves-effect waves-light" type="submit" name="action">
                                
                                    Search
                                
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                </div>  
            </span>
        </li>
    </ul>


    {% for recipe in recipes %}    
    
        
        <ul class="collapsible">
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">outdoor_grill</i> {{recipe.recipe_name}}
                    
                </div>
                
                <div class="collapsible-body">
                    <span>
                        <div class="row featurette">
                            {% if loop.index % 2 != 0 %}
                            <div class="col-md-7">
                                <h5>Ingredient:</h5>
                                <p>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_1}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_2}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_3}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_4}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_5}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_6}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_7}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_8}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_9}}<br>
                                </p><br>
                                <h5>Method:</h5>
                                <p>
                                    <i class="fas fa-check"></i> {{recipe.method_1}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_2}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_3}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_4}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_5}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_6}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_7}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_8}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_9}}<br>
                                </p><br>
                                <p>
                                    <h5>Date of Creation:</h5> {{ recipe.create_on }}</p><br>
                                <p>
                                    <h5>Time for Preparation:</h5> {{ recipe.prep_time }}</p><br>
                                <p>
                                    <h5>Time for Cooking:</h5> {{ recipe.cook_time }}</p><br>
                            </div>
                            <div class="col-md-5">
                                <img class="featurette-image img-fluid" src="{{ recipe.recipe_image }}">
                            </div><br> {% else %}
                            <div class="col-md-5">
                                <img class="featurette-image img-fluid" src="{{ recipe.recipe_image }}">
                            </div><br>
                            <div class="col-md-7">
                                <h5>Ingredient:</h5>
                                <p>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_1}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_2}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_3}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_4}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_5}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_6}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_7}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_8}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_9}}<br>
                                </p><br>
                                <h5>Method:</h5>
                                <p>
                                    <i class="fas fa-check"></i> {{recipe.method_1}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_2}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_3}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_4}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_5}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_6}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_7}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_8}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_9}}<br>
                                </p><br>
                                <p>
                                    <h5>Date of Creation:</h5> {{ recipe.create_on }}</p><br>
                                <p>
                                    <h5>Time for Preparation:</h5> {{ recipe.prep_time }}</p><br>
                                <p>
                                    <h5>Time for Cooking:</h5> {{ recipe.cook_time }}</p><br>
                            </div>
                            
                            {% endif %}
                        </div>
                    </span>
                </div>
            </li>
        </ul>
        
    {% endfor %}
    
{% endblock %}
